@model Benday.AspNetTemplateDemo.Api.Address

@{
}

<tr>
    <td>@Html.EditorFor(model => Model.Type)</td>
    <td>@Html.EditorFor(model => Model.Line1)</td>
    <td>@Html.EditorFor(model => Model.Line2)</td>
    <td>@Html.EditorFor(model => Model.City)</td>
    <td>@Html.EditorFor(model => Model.State)</td>
    <td>@Html.EditorFor(model => Model.PostalCode)</td>
</tr>