@model List<Benday.AspNetTemplateDemo.Api.Address>

@{
    var addressForLabels = new Address();
}

<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => addressForLabels.Type)</th>
            <th>@Html.DisplayNameFor(model => addressForLabels.Line1)</th>
            <th>@Html.DisplayNameFor(model => addressForLabels.Line2)</th>
            <th>@Html.DisplayNameFor(model => addressForLabels.City)</th>
            <th>@Html.DisplayNameFor(model => addressForLabels.State)</th>
            <th>@Html.DisplayNameFor(model => addressForLabels.PostalCode)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @Html.EditorFor(model => item)
        }

    </tbody>
</table>

