@model List<Benday.AspNetTemplateDemo.Api.Address>

@{
    var addressForLabels = new Address();
}

<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => addressForLabels.Type)</th>
            <th>@Html.DisplayNameFor(model => addressForLabels.Line1)</th>
            <th>@Html.DisplayNameFor(model => addressForLabels.Line2)</th>
            <th>@Html.DisplayNameFor(model => addressForLabels.City)</th>
            <th>@Html.DisplayNameFor(model => addressForLabels.State)</th>
            <th>@Html.DisplayNameFor(model => addressForLabels.PostalCode)</th>
        </tr>
    </thead>
    <tbody>
        @for (var index = 0; index < Model.Count; index++)
        {
            @Html.EditorFor(model => model[index])
        }
    </tbody>
</table>

